[project]
	description = Kubernetes integration for Firmament
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Karun (karunchennuri)
[access "refs/for/refs/*"]
	read = group user/Karun (karunchennuri)
	push = group user/Karun (karunchennuri)
	label-Code-Review = -2..+2 group user/Karun (karunchennuri)
	label-Verified = -1..+1 group user/Karun (karunchennuri)
	rebase = group user/Karun (karunchennuri)
	removeReviewer = group user/Karun (karunchennuri)
	submit = group user/Karun (karunchennuri)
[access "refs/heads/*"]
	read = group user/Karun (karunchennuri)
	create = group user/Karun (karunchennuri)
	push = +force group user/Karun (karunchennuri)
	pushMerge = group user/Karun (karunchennuri)
[access "refs/tags/*"]
	push = group user/Karun (karunchennuri)
	push = +force group user/Karun (karunchennuri)
